{% load static %} 
  <!-- ##### Footer Area Start ##### -->
   <footer class="footer-area" style="background-color:#e25129e7; height: 190px;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info text-right">
                    <a href="#" style="color: black;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" style="color: black;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                <!-- Footer Logo -->
                <div class="footer-logo" >
                    <a href="{% url 'index' %}" ><img src="{% static 'img/core-img/logo.png' %}" alt=""  style='height: 160px; width: 200px;'></a>
                </div>
            </div>
        </div>
    </div>
</footer>