{% load static %}
  <!-- ##### Header Area Start ##### -->
   <header class="header-area">

    <!-- Navbar Area -->
    <div class="delicious-main-menu" style="background-color:#e25129e7; height: 60px; position: fixed;">
        <div class="classy-nav-container breakpoint-off" >
            <div class="container" >
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav" style="height: 60px;">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" style="height: 80px; width: 100px;" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav" >
                            <ul>                          
                                {% if user.is_authenticated %} 
                                    <li><a href="{% url 'index' %}" style="color: black;">Página principal</a></li>
                                    <li><a href="{% url 'dashboard' %}" style="color: black;">Minhas receitas</a></li>
                                    <li><a href="{% url 'cria_receita' %}" style="color: black;">Criar receitas</a></li>
                                    <li><a href="{% url 'logout' %}" style="color: black;">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'index' %}" style="color: black;">Página principal</a></li>
                                    <li><a href="{% url 'cadastro' %}" style="color: black;">Cadastro</a></li>
                                    <li><a href="{% url 'login' %}" style="color: black;">Login</a></li>
                                {% endif %}
                            </ul>

                            <!-- Formulario de busca -->
                            <div class="search-btn" style="color: black;">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <!-- Formulario de busca -->

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->