{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png'%}" alt="">
    </div>
    
    {% include 'partials/_busca.html' %}

    {% include 'partials/_menu.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area" ">
        <div class="container" >
            <div class="row" >
                <!-- Single Best Receipe Area -->
                   <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30" >
                            <img src="img/bg-img/foto_receita.png" alt="">
                            <div class="receipe-content" >
                                <a href="">
                                
                                    {% if restaurantes %}
                                        {% for restaurante in restaurantes %}

                                            <div class="receipe-content-area" style="margin-top: 100px;">
                                                <div class="container">
                                    
                                                    <div class="row">
                                                        <div class="col-12 col-lg-8" >
                                                            <!-- Single Preparation Step -->
                                                            <div class="single-preparation-step d-flex" style='height: 150px; width: 300px; margin-left: -60px; '>
                                                                <a href="{% url 'restaurante' restaurante.id  %}" ><img src="{{restaurante.imagem}}"  alt=""></a>            
                                                                
                                                            </div>
                                                        </div>
                                
                                                        <!-- Ingredientes -->
                                                        <div class="col-12 col-lg-4" >
                                                            <div class="ingredients" >
                                                                <div class="ingredients" style='height: 450px; width: 800px; margin-left: 80px;   '>
                                                                    
                                                                    <a href="{% url 'restaurante' restaurante.id %}">
                                                                        <p style='font-size: 25px; color:black'>{{ restaurante.nome }}</p>
                                                                    
                                                                        <p style='font-size: 20px; color:black'>{{ restaurante.descricao }}</p>
                                                                        
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-12 col-sm-6 col-lg-4" style='height: 450px; width: 800px; margin-left: 80px; '>
                                            <p style="color: black; width: 1000px; margin-top: 40px; font-size: 40px;"> Restaurante não encontrado</p>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
         
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/_footer.html' %}
{% endblock %}

